<h1>Bem-vindo à Página Inicial</h1>
<p>Escolha uma opção:</p>
<ul>
    <li><a href="/cadastro">Cadastrar Novo Usuário</a></li>
    <li><a href="/login">Login</a></li>
</ul>

<%- include('rodape') %>