<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div id="content">
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/cadastro">Cadastrar</a></li>
                <li><a href="/busca">Buscar Usuário</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>